<body>
  <div>
    <form class="form-home" action="">
      <input class="textbox-home-page" type="text" name="roomID" placeholder="Room id" > <br>
      <input class="submit-home-page" type="submit" value="Find Room">
    </form>
  </div>
